@media (max-width:992px)
{
    .profilecontaner
    {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fornt img
    {
        height: 2500px;
        width: 250px;
        border-radius: 50%;
    }
    .fornt
    {
        height: 500px;
        margin: 20px 0px;
        width: 40%;
    }
    .back
    {
        height: 500px;
        width: 55%;
    }
}

@media (max-width:768px)
{
    .profilecontaner
    {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .fornt img
    {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }
    .fornt
    {
        height: 500px;
        margin: 0px 0px;
        width: 80%;
    }
    .back
    {
        height: 500px;
        width: 80%;
    }
}

@media (max-width:576px)
{
    .profilecontaner
    {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .fornt img
    {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .fornt
    {
        height: 500px;
        margin: 20px 0px;
        width: 80%;
    }
    .back
    {
        height: 500px;
        width: 80%;
    }
}
