*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: purple;
}
.contact
{
    width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.contactcontainer
{
    border-radius: 10px;
    height: 800px;
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
}
.contactcontainer .row h1
{
    margin: 30px 0px 50px 0px;
    padding-top: 20px;
    font-size: 50px;
    text-align: center;
}
.contactcontainer .row
{
    height: 800px;
    width: 50%;
    margin: auto;
}
.contactcontainer .row .form
{
    width: 80%;
    margin: auto;
}
.contactcontainer .images
{
    height: 800px;
    width: 70%;
}
.contactcontainer img
{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.contactcontainer .row input
{
    margin: 20px 0px;
    padding-left: 20px;
    outline: none;
    height: 35px;
    width: 100%;
    border: 1px solid rgba(113, 113, 113, 0.588);
    border-radius: 50px;
}
.contactcontainer .row textarea
{
    margin: 15px 0px;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    padding-top: 10px;
}
.contactcontainer .row label
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.contactcontainer .row button
{
    font-size: 18px;
    padding: 10px 25px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    margin: 20px 0px;
}